@import "../../styles/variable.scss";

.Login {
  min-height: 100vh;

  &__forgotPassword {
    width: 100%;
    text-align: center;
    margin-top: 60px;
    cursor: pointer;

    &:hover {
      color: $strong;
    }
  }
}