@import '../../styles/variable.scss';
@import '../../styles/mixins.scss';

.CardBtns {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;

    &__btn {
        font-size: 1rem;
        line-height: 1.5rem;
        background-color: $strong;
        display: flex;
        align-items: center;
        color: $light;
        font-weight: 600;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        @include blackShadow;
        cursor: pointer;
        white-space: nowrap;

        svg {
            margin-right: 6px;
            font-size: 25px;
        }

    }
}