@import "../../styles/variable.scss";
@import "../../styles/mixins.scss";

.Slide {
  width: 100%;
  height: fit-content;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: $secondary;
    background: linear-gradient(360deg, $secondary 0%, $secondary 12%, rgba($secondary, 0.95) 21%, rgba($secondary, 0.7986696222) 33%, rgba($secondary, 0.5177707458) 47%, rgba($secondary, 0) 65%)
  }

  &__arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 999999999;
    background-color: $primary;
    opacity: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    background: transparent;
    cursor: pointer;

    @include respond(tabletS) {
      height: fit-content;
      top: 50%;
      opacity: 1;
      transform: translateY(-50%);
    }

    @include respond(mobile) {
      height: fit-content;
      top: 50px;
      opacity: 1;
      transform: unset;
    }

    &:hover {
      opacity: 1;
    }

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }
}