@import "../../styles/mixins.scss";

.FormRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;

  @include respond(mobile) {
    grid-template-columns: 1fr;
    gap: unset;
  }
}
